# - This is a template for your environment variables file.
# - Create a local file named ".env.local" in the root directory of this project. Include the
# - below line(s) modified with your dev/production environment variables.


DB_CONNECTION_URL=[YOUR POSTGRES DATABASE URL GOES HERE]
COOKIE_SECRET_KEY=cc2eaf25-d249-4a46-b68e-bf6f0f5fa359