.spacerContainer {
    /* border: 1px solid; */
    width: 950px;
    height: 75px;
}

.centerContainer {
    padding: 15px 15px;
    max-width: 950px;
    margin: 0px auto;
    display: block;
}

.center {
    min-height: 46px;
    margin: 0px auto;
    position: relative;
}

.newCohort {
    display: block;
    text-align: left;
    float: right;
    position: relative;
}

.newCohort_btn {
    cursor: pointer;
    line-height: 42px;
    font-size: 15px;    
    padding: 1px 15px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none !important;
    color: white !important;
    background: #0b131b61;
}