.overallBorder {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.graphContainer {
    background: #0b131b61;
    color: white;
    width: 450px;
    margin: 15px;
    border-radius: 10px;
}

.barHolder {
    padding: 15px;
}

.btnContainer {
    background: #0b131b61;
    width: 450px;
    margin: 15px;
    border-radius: 10px;
    height: 230px;
    /* overflow-y: scroll; */
}

.textContent {
    background: #0b131b61;
}

.link {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    padding-left: 15px;
}

.link:hover {
    background: rgba(3, 29, 52, 0.776);
}

.link u {
    font-weight: bold;
    font-size: large;
}

.link u:hover {
    cursor: pointer;
}

.groups {
    display: flex;
    flex-direction: column;
    height: 90px;
    overflow: auto;
    /* flex-wrap: wrap; */
}

.groups::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.groups::-webkit-scrollbar-track {
    background: #f1f1f13a; 
  }
   
  /* Handle */
.groups::-webkit-scrollbar-thumb {
    background: rgba(52, 76, 157, 0.748); 
  }
  
  /* Handle on hover */
.groups::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }