.spacerContainer {
    /* border: 1px solid; */
    width: 950px;
    height: 75px;
}

.centerContainer {
    padding: 15px 15px;
    max-width: 950px;
    margin: 0px auto;
    display: block;
}

.center {
    min-height: 46px;
    margin: 0px auto;
    position: relative;
}

.newCohort {
    display: block;
    text-align: left;
    float: right;
    position: relative;
}

.newCohort_btn {
    line-height: 42px;
    font-size: 15px;    
    padding: 1px 15px;
    border-radius: 40px;
    
    display: inline-block;
    color: white;
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}