.background {
    /* display: none; */
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    position: fixed;
    max-width: 1442px;
    min-width: 700px;
    z-index:1000;
    top: 50%;
    left: 50%;
    font-weight: normal;
    background: rgb(69, 78, 106);
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    max-height: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.top_bar {
    width: 100%;
    height: 1px;
    background: linear-gradient(145deg, rgba(0,53,69,1) 2%, rgba(0,69,74,1) 31%, rgba(60,101,98,1) 89%);
}

.commentHeader {
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    flex-shrink: 0; 
}

.studentName {
    padding: 32px 32px 0px 32px;
    display: block;
}

.close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVBREZBRDlBNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVBREZBRDlCNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUFERkFEOTg3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUFERkFEOTk3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4iulRzAAABPElEQVR42mI8cuQIAyWABUqbAXEylH0fiDtwqI8FYhsoewEQH4cZcBaI64DYG8p/AVWADDyAeD4QMwPxJiA+BRJkgkr+BeJoIL4D5U8DYi0kzepAvAKq+TJU7V9kA0DgIxD7Q2lOIF4NpfmBeAuUfg3EPkD8BaaJCc2Z14A4EcoGuWAC1NkqQPwLqvkRsgYmLAG1HoiboOw0IA6EshNh/iZkAAjUA/FBJP5KIF6GTSEuAwygUQsDflAxogwQAuJ10AAExcpNKHsjEIsSMoAZGl2K0EALBeIIKFsOKSpxGtACxK5Qdi4QX4DiAqiYExB34TIgBIgrkAJtFpLcdKgYCBQBcRRMghGamUBxfhKIeaB+NkFOLFAAkjsDTZXfgdgK5DpYXvBGiqYpWDQzQMVAYZKDlDcuMFKanQECDAAqw0LA+GRiqAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    float: right;
    margin-top: 9px;
    margin-right: 9px;
    height: 16px;
    width: 16px;
    opacity: 0.7;
} 

.content_container {
    padding: 0 1px 1px 1px;
    display: flex;
}

.content {
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    padding: 32px;
    font-size: 14px;
    color: white;
    position: relative;
    max-height: 594px;
}

.introSentence {
    margin-bottom: 20px;
    font-size: 14px;
    word-wrap: break-word;
    color: white;
}

.app_notes {
    background-color: rgba( 0, 0, 0, 0.2 );
    border-radius: 3px;
    border: 1px solid #000;
    box-shadow: 1px 1px 0 0 rgb(91 132 181 / 20%);
    color: #C6D4DF;
    margin-bottom: 6px;
    outline: none;
    padding: 4px 6px;
    display: block;
    width: calc(100% - 12px);
    height: 100px;
}

