.footerSpacer {
    height: 195px;
}

.footer {
    width: 100%;
    height: 100px;
    /* left: 0px;
    right: 0px;
    bottom: 0px; */
    /* background-image: linear-gradient(to right, rgb(163, 80, 80) , rgb(239, 140, 95)); */
    /* position: fixed */
    /* background-color: rgb(233, 227, 210);  */
    /* background-color: rgb(110, 133, 183);  */
    /* background-color: rgb(0, 0, 0); */
    background-color: rgb(4 26 41);
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255); 
}

.textWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 950px;
    margin: 0px auto;
}  


.footer a:hover {
    color: #445278; 
    cursor: pointer;
}

.techAbout {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.copyright {
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    /* color: rgb(51, 51, 51); */
    color: white;
}