.gitContainer {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000;
}

.listHeader {
    position: sticky;
    top: 0;
    z-index: 32;
    height: 50px;
}

.headerInfo {
    padding-left: 16px;
    float: left !important;
}

.info {
    color: var(--color-fg-default);
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
}

.personIcon {
    margin-right: 4px;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 16px;
    width: 16px;
}