.background {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gitContainer {
    position: fixed;
    max-width: 1442px;
    min-width: 500px;
    z-index:1000;
    top: 50%;
    left: 50%;
    font-weight: normal;
    background: rgb(69, 78, 106);
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: flex;
}

.top_bar {
    width: 100%;
    height: 1px;
    background: linear-gradient(145deg, rgba(0,53,69,1) 2%, rgba(0,69,74,1) 31%, rgba(60,101,98,1) 89%);
}

.listHeader {
    position: sticky;
    top: 0;
    z-index: 32;
    height: 50px;
    border: 1px solid;
}

.headerInfo {
    padding-left: 16px;
    float: left !important;
}

.info {
    color: black;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
}

.personIcon {
    margin-right: 4px;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    height: 16px;
    width: 16px;
}

.close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVBREZBRDlBNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVBREZBRDlCNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUFERkFEOTg3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUFERkFEOTk3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4iulRzAAABPElEQVR42mI8cuQIAyWABUqbAXEylH0fiDtwqI8FYhsoewEQH4cZcBaI64DYG8p/AVWADDyAeD4QMwPxJiA+BRJkgkr+BeJoIL4D5U8DYi0kzepAvAKq+TJU7V9kA0DgIxD7Q2lOIF4NpfmBeAuUfg3EPkD8BaaJCc2Z14A4EcoGuWAC1NkqQPwLqvkRsgYmLAG1HoiboOw0IA6EshNh/iZkAAjUA/FBJP5KIF6GTSEuAwygUQsDflAxogwQAuJ10AAExcpNKHsjEIsSMoAZGl2K0EALBeIIKFsOKSpxGtACxK5Qdi4QX4DiAqiYExB34TIgBIgrkAJtFpLcdKgYCBQBcRRMghGamUBxfhKIeaB+NkFOLFAAkjsDTZXfgdgK5DpYXvBGiqYpWDQzQMVAYZKDlDcuMFKanQECDAAqw0LA+GRiqAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    float: right;
    margin-top: 9px;
    margin-right: 9px;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

.tableList {
    display: block;
    table-layout: fixed;
    max-width: 1442px;
    min-width: 500px;
    max-height: 400px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}

.tableListItem {
    position: relative;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    /* display: table-row; */
    list-style: none;
}

.tableListCell {
    color:black;
    position: relative;
    display: table-cell;
    font-size: 12px;
    padding: 16px 0px 16px 16px !important;
    vertical-align: middle !important;
    width: 64px;
}

.tableListName {
    position: relative;
    display: table-cell;
    font-size: 12px;
    padding: 16px 0px 16px 16px !important;
    vertical-align: middle !important;
}

.frameLeft {
    float: left !important;
}

.frameInline {
    display: inline-block !important;
}

.frameInclineName {
    display: inline-block !important;
    margin-right: 4px !important;
    font-size: 16px !important;
    color: black;
    text-decoration: none;
}

.avatar {
    border-radius: 50% !important;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
    border: 1px solid;
    width: 44px;
    height: 44px;
}

.codeName {
    font-size: 14px !important;
    color: gray !important;
    cursor: pointer;
}

.addAccount {
    font-size: 14px !important;
}

.field {
    width: 150px;
}