html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: linear-gradient(129deg, rgba(0,0,0,1) 0%, rgb(0, 45, 2) 71%, rgba(0,0,0,1) 100%); */
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(22, 45, 87) 70.2%);
    /* background-image: url("https://source.unsplash.com/featured/1000x900?space");
    background-size: cover;
    overflow: hidden; */
    /* background: linear-gradient(to right, #ff758c00 0%, #ff7eb3 100%); */
    /* background-color: rgba(0, 0, 0, 0.569); */
   /* background-image: linear-gradient(to right, #586da8, #5f5abf); */
   /* background-color: #3D8361; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
