

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background: linear-gradient(129deg, rgba(0,0,0,1) 0%, rgb(0, 45, 2) 71%, rgba(0,0,0,1) 100%); */
    /* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(22, 45, 87) 70.2%); */
    /* background: linear-gradient(145deg, rgba(0,53,69,1) 2%, rgba(0,69,74,1) 31%, rgba(60,101,98,1) 89%); */
    /* background: #3D8361; */
/* background: #6D9886; */
  /* background: rgba(0, 0, 0, 0.731); */
/* background: linear-gradient(145deg, rgba(255,146,52,1) 24%, rgba(255,205,60,1) 89%, rgba(255,205,60,1) 97%); */
    /* background: linear-gradient(145deg, rgba(178,200,223,1) 1%, rgba(178,200,223,1) 31%, rgba(196,215,224,1) 89%); */
background: linear-gradient(145deg, rgba(110,133,183,1) 2%, rgba(178,200,223,1) 31%, rgba(196,215,224,1) 89%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
