.groupMakerDiv {
    display: flex;
    flex-direction: column;
}

.warning {
    color: red;
    position: absolute;
    top: 180px;
    right: 540px;
}

.selector {
    border-radius: 10px;
    border: none;
    padding: 6.5px 15px;
    font-size:15px;
    cursor: pointer;
    text-decoration: none !important;
    color: white !important;
    background: #0b131b61;
    margin-left: auto;
    margin-right: 3px;
    margin-bottom: auto;
    line-height: 17px;
}

.button {
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 7px 15px;
    line-height:18px;
    cursor: pointer;
    text-decoration: none !important;
    color: white !important;
    background: #0b131b61;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.button:hover {
    background: rgba(3, 29, 52, 0.776); 
}