.container{
    width: 450px;
    /* background: lightgray; */
    /* background: rgba(255, 255, 255, 0.49); */
    background: rgba(255, 255, 255, 0.806);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
    border-radius: 10px;
}
.tableContainer {
   width: 100%;
   padding-bottom: 10px;
}
.title{
    padding-bottom: 10px;
    text-transform: uppercase;

}
.table{
    /* border-collapse: collapse; */
    /* border: 1px solid black; */
    width: 350px;
    /* background: #0b131b61; */
    background: #1b4a49cf;
}
.tableHead{
    display: table-header-group;
    background: #0b131b61;
    border: 1px solid black;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.headerRow{
    color: white; 
    /* border: 1px solid black; */
    display: table;
    width: 100%;
    table-layout: fixed;
}
.header{
    background: rgba(0, 247, 234, 0);
    text-align: left;
    padding-left: 10px;
}
.headName {
    text-align: left;
    padding-left: 10px;
}
.headScore{
    text-align: center;
}
.tableBody{
display: table;
width: 100%;
table-layout: fixed;
}
.tBodyRow{
    border: 1px solid black;
    display: table;
    width: 100%;
    table-layout: fixed;
}
/* .pojCell {
background: pink;
} */
.scoreCell{
    text-align: center;
}

.tbody{
    display: block;
    overflow: auto;
    scrollbar-width: thin;
    table-layout: fixed;
    max-height: 80px;
    color: white;
}
.noteIcon{
    width: 25px;
    height: 32px;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.add {
    padding: 20px;
}
.titleBox {
    padding-bottom: 8px;
}


/* width */
.tbody::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .tbody::-webkit-scrollbar-track {
    background: #f1f1f13a; 
  }
   
  /* Handle */
  .tbody::-webkit-scrollbar-thumb {
    background: rgba(52, 76, 157, 0.748); 
  }
  
  /* Handle on hover */
  .tbody::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.noValueContainer {
    background: #1b4a49cf;
    height: 100px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.editScore {
    width: 60px;
}