/* .border {
    background: rgba(69, 78, 106, 0.399) ;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
    color: #d0c5c5;
    overflow: hidden;
} */

.container {
    height: 330px;
    padding: 10px;
    overflow: hidden;
}

.topBorder {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.selectRow {
  display: flex;
  height: 24px;
  width: 100%;
}

.selectAllBox {
  float: left;
  white-space: nowrap;
  padding-left:10px;
}

.checkBox {
  background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/check_box_outline_blank_white_20dp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  opacity: 1;
}

.addGit {
  float: right;
  white-space: nowrap;
  margin-left: auto;
}

.gitBtn {
    border-radius: 10px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: white !important;
    margin-right: 3px;
    background: #0b131b61;
}

.gitBtn:hover {
    background: rgba(3, 29, 52, 0.776); 
}

.gitBtn_medium {
  padding: 0 15px;
  font-size: 15px;
  line-height: 30px;
}

.span {
  border-radius: 2px;
  display: block;
  background: transparent;
}

.middleBorder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

.thead {
    background: #0b131b61;
    display: table;
    table-layout: fixed;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerRow {
    border-bottom: 1px solid;
}

.header {
    padding: 10px 0px;
    font-size: 15px;
    width: 15px;
    cursor: pointer;
}

.smallHeader {
    width: 3.8px !important;
}

.header:hover{
    color: white;  
}

.tbody {
    display:block;
    max-height: 220px;
    width: 100%;
    background: #0b131b61;
    overflow-y: auto;
    table-layout: fixed;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tbody::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .tbody::-webkit-scrollbar-track {
    background: #f1f1f13a; 
  }
   
  /* Handle */
  .tbody::-webkit-scrollbar-thumb {
    background: rgba(52, 76, 157, 0.748); 
  }
  
  /* Handle on hover */
  .tbody::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.tbodyRow {
    display: table;
    width: 100%;
    vertical-align: middle;
    outline: 0px;
    table-layout: fixed; 
}

.tbodyRow:hover{
    background: rgba(3, 29, 52, 0.776);
    color: white;
}

.nameContent { 
    width: 100%;
    font-weight: 400;
    vertical-align: inherit;
    font-size: 14px;
    padding: 8px 8px 8px 25px;
    cursor: pointer;
}

.nameSpace {
    word-break:break-all;
}

.content { 
    width: 100%;
    font-weight: 400;
    vertical-align: inherit;
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.smallContent { 
    width: 30px !important;
    font-weight: 400;
    vertical-align: inherit;
    font-size: 16px;
    padding-left: 10px;
}

.trashContent { 
    width: 30px !important;
    font-weight: 400;
    vertical-align: inherit;
    font-size: 16px;
    padding-right: 10px;
}

.commentIcon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.color {
    color: white;
    margin: auto;
    width: 100px;
    padding: 4px;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
    cursor: pointer;
}

.color2 {
    /* color: rgb(73, 255, 131); */
    color: white;
    margin: auto;
    width: 100px;
    padding: 4px;
    border-radius: 50px;
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    cursor: pointer;
}
.color3 {
    margin: auto;
    width: 100px;
    padding: 4px;
    border-radius: 50px;
    color: black;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    cursor: pointer;
}

.color4 {
    margin: auto;
    width: 100px;
    padding: 4px;
    border-radius: 50px;
    color: white;
    background: #2E0DB2;
    background: -webkit-linear-gradient(top left, #2E0DB2, #4F62EF);
    background: -moz-linear-gradient(top left, #2E0DB2, #4F62EF);
    background: linear-gradient(to bottom right, #2E0DB2, #4F62EF);
    cursor: pointer;
}

.trash {
    display: inline-block;
    overflow: visible !important;
    fill: currentColor;
    width: 20px;
    height: 16px;
    padding-right: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.noteIcon {
    width: 25px;
    height: 32px;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
    cursor: pointer;
}

.box {
    display: block;
    top: auto;
    left: 1000px !important;
    width: 220px;
    list-style: none;
    position: absolute;
    background: darkgray;
    padding: 5px 0px;
    border-radius: 10px;
    z-index: 900;
    margin-top: 1px;
}

.tag {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 5px;
    color: black;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag:hover {
    background: rgba(3, 29, 52, 0.776); 
}


.tagIcon {
    color: black;
    margin-right: 3px;
    width:16px;
}
