.container{
    width: 450px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.tableContainer {
   width: 100%;
   padding-bottom: 10px;
}
.title{
    padding-bottom: 10px;
    text-transform: uppercase;

}
.table{
    /* border-collapse: collapse; */
    border: 1px solid black;
    width: 300px;
}
.tableHead{
    display: table-header-group;
    background: #0b131b61;
    border: 1px solid black;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.headerRow{
    color: white; 
    border: 1px solid black;
    display: table;
    width: 100%;
    table-layout: fixed;
}
.header{
    background: rgba(0, 247, 234, 0);
    text-align: left;
    padding-left: 10px;
}
.headName {
    text-align: left;
    padding-left: 10px;
}
.headScore{
    text-align: center;
}
.tableBody{
display: table;
width: 100%;
table-layout: fixed;
}
.tBodyRow{
    border: 1px solid black;
    display: table;
    width: 100%;
    table-layout: fixed;
}
/* .pojCell {
background: pink;
} */
.scoreCell{
    text-align: center;
}

.tbody{
    display: block;
    overflow: auto;
    scrollbar-width: thin;
    table-layout: fixed;
    max-height: 80px;
}

/* width */
.tbody::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .tbody::-webkit-scrollbar-track {
    background: #f1f1f13a; 
  }
   
  /* Handle */
  .tbody::-webkit-scrollbar-thumb {
    background: rgba(52, 76, 157, 0.748); 
  }
  
  /* Handle on hover */
  .tbody::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
