/* h1 {
    text-decoration: underline;
} */

.container {
    text-align: center;
}

.header {
    padding-top: 60px;
    color: white;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.subContainer {
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
}

.technology_1 {
    display: flex;
    border-radius: 50px;
    width: 80%;
    margin: 10px;
    margin-right: 20%;
    background-color: steelblue;
    padding: 22px;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
}

.technology_2 {
    display: flex;
    border-radius: 50px;
    width: 80%;
    margin: 10px;
    margin-left: 20%;
    background-color: rgb(41, 95, 139);
    padding: 22px;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
}

.technology_1:hover{
    background: rgb(75, 159, 58);
    border-radius: 12px;
}

.technology_2:hover{
    background:  rgb(75, 159, 58);
    border-radius: 12px;
}

.imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    width: 30%;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.techTitle {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
}

.about {
    max-width: 70%;
    width: 70%;
    margin: 20px 0;
    font-weight: lighter;
    color: #eef35d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80%;
    padding: 20px 0;
    padding-right: 40px;
}

.link {
    height: 20%;
    padding: 20px 0;
    width: 100%;
    transition: .4s
}


.link:hover {
    transform: scale(1.5);
}