.modalOverlay {
  display: flex;
  position: fixed;
  /* opacity: 0.3; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.UpdateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    145deg,
    rgba(0, 53, 69, 1) 2%,
    rgba(0, 69, 74, 1) 31%,
    rgba(60, 101, 98, 1) 89%
  );
  color: white;
  padding: 50px;
  z-index: 1000;
  width: fit-content;
  max-width: 840px;
  height: 680px;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 15px;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  max-height: 80%;
  display: flex;
}

.header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0px;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid silver;
  font-weight: bolder;
}

.header button {
  float: right;
  margin-right: 8px;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: rgba(92, 92, 92, 0.1);
  border-radius: 5px;
  border: none;
}

.header button:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.5);
}

.update {
  max-height: 100%;
  margin: 5px;
  margin-left: 5px;
  padding: 5px;
  overflow: auto;
  background: #0b131b61;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.updateForm {
  align-items: center;
}

.updateForm > select,
.updateForm > textarea {
  margin-bottom: 10px;
}

.formFooter {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
